@using StoreLaptop.ServiceReference;
@model SanPham
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/LayoutNguoiDung.cshtml";
}
@section Slider{}
<div class="col-sm-9 padding-right">
    <div class="product-details">
        <!--product-details-->
        <div class="col-sm-5">
            <div class="view-product">
                <img src="~/AnhSP/@Model.Hinh" alt="">
            </div>

        </div>
        <div class="col-sm-7">
            @using (Html.BeginForm("ThemGioHang", "Giohang", new { @sidSP = Model.idSP, @strUrl = Request.Url.ToString() }))
            {
                <div class="product-information">
                    <!--/product-information-->

                    <h2>@Model.TenSP</h2>
                    <img src="~/Content/images/product-details/rating.png" alt="">
                    <span>
                        <span>@String.Format("{0:0,0}", @Model.Gia) VNĐ</span>

                        <label>Số Lượng:</label>
                        <input type="number" min="1" max="@Model.TonKho" value="1" name="txtsoluong"><br /><br />
                        <button type="submit" class="btn btn-fefault cart">
                            <i class="fa fa-shopping-cart"></i>
                            Thêm vào giỏ
                        </button>

                    </span>
                    <span class="text-danger">@ViewBag.thongbao</span>
                    <p><b>Lượt Xem:</b> @Model.SoLanXem</p>
                    <p><b>Số Lượng:</b>@{if (Model.TonKho == 0) { ViewBag.ht = "Hết hàng"; } else { ViewBag.ht = Model.TonKho; }} @ViewBag.ht</p>
                         
                    <p><b>Tình Trạng:</b> Mới</p>
                    <p><b>Hãng Sản Xuất:</b>@Html.Action("TenHangSX", "SanPham", new { id = @Model.idHSX }) </p>

                </div><!--/product-information-->
            }
        </div>
    </div><!--/product-details-->

    <div class="category-tab shop-details-tab">
        <!--category-tab-->
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li class=""><a href="#reviews" data-toggle="tab">Chi Tiết</a></li>
                <li class="active"><a href="#details" data-toggle="tab">Sản phẩm cùng loại</a></li>
            </ul>
        </div>
        <div class="tab-content">
           @Html.Action("CungLoaiPartial", "CungLoai", new { @idLoai = @Model.idLoai, @idSP=@Model.idSP})
            <div class="tab-pane fade" id="reviews">
                <div class="col-sm-12">
                    <p>@Model.MoTa</p>
                </div>
            </div>

        </div>
    </div><!--/category-tab-->
</div>




